<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Detalhes</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card *ngFor="let information of detail">
      <ion-card-header>
        <h3><strong>{{ information.nome }}</strong></h3>
        <ion-card-subtitle>
          {{ information.cidade.nome }}
        </ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content text-center>
        <ion-icon name="pin" slot="start"></ion-icon>
        {{ information.endereco }}
  
        <ion-item lines="none">
          <ion-icon name="call" slot="start"></ion-icon>
          <ion-label>{{ information.telefone }}</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-icon name="call" slot="start"></ion-icon>
          <ion-label>{{ information.telefone2 }}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-content>
  