<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Notícias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Artigos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="search"></ion-icon>
      <ion-label>Busca</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
