<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Artigos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card *ngFor="let artigo of artigosGet">
    <img [src]='artigo.arteBase64' />
    <ion-card-subtitle padding>
      {{ artigo.autor }}
    </ion-card-subtitle>
    <ion-card-header padding>
      {{ artigo.titulo }}
    </ion-card-header>
    <a href="{{ artigo.link }}">
      <ion-button expand="block">
        Clique Para Ler!
      </ion-button>
    </a>
  </ion-card>
</ion-content>