<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Med App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="none">
    <ion-list-header>
      Notícias
    </ion-list-header>
    <ion-list>
      <ion-card *ngFor="let dado of noticiasGet">
        <ion-card-header>
          <a href="{{ dado.linkBase64 }}"><img [src]='dado.arteBase64'/></a>
        </ion-card-header>
      </ion-card>
    </ion-list>
  </ion-list>
    
</ion-content>
