<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Especialista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar
      placeholder="Insira o nome do Médico"
      animated
      [(ngModel)]="busca"
      (ionChange)="searchChanged($event)"
    ></ion-searchbar>
  
    <ion-item>
      <ion-label>Buscar por:</ion-label>
      <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
        <ion-select-option value="">Todos</ion-select-option>
        <ion-select-option *ngFor="let cidade of cidades">
          {{ cidade.nome }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-list>
      <ion-item
        button
        *ngFor="let medico of medicos"
        [routerLink]="['/', 'detalhes-especialista', medico.id]"
      >
        <ion-label text-wrap>
          <h3>
            <strong>{{ medico.nome }}</strong>
          </h3>
          {{ medico.cidade.nome }}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
